@{
    ViewBag.Title = "About";
}
<h2>Over ons</h2>
<p>
    <b>Tickets4You</b> is een fictief bedrijf ontworpen door <b>Michiel Devaere</b> en <b>Ruben Debusschere</b>. 
    We zijn beide student "Software Development" <br />aan de Hogeschool VIVES in Kortrijk. De opdrachtgever van deze opdracht is
    <b>Mr. De Waele</b>, onze leerkracht "Full Stack".
</p>
<br />
<h3>Ontwikkelaars</h3>
<div class="row">
    <div class="col-md-2">
        <ul>
            <li>
                <h5>Michiel Devaere</h5>
                <img class="img-thumbnail" src="~/img/Michiel.jpg" alt="Robin Devisscher" height="130" width="130" />
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <ul>
            <li>
                <h5>Ruben Debusschere</h5>
                <img class="img-thumbnail" src="~/img/Ruben.jpg" alt="Wout Cardoen" height="150" width="150" />
            </li>
        </ul>
    </div>
</div>

